div {
  margin: 90px 260px 20px;
  width: 976px;
  height: 460px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 100px;

}

img {
    width: 450px;
    height: 550px;
    display: flex;
    border-radius: 10px;
}

.descriptionDetails {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
}

h2 {
    color: aliceblue;
    font-size: 45px;
    line-height: 50px;
}

h3 {
    color: #cbcbcb;
    margin-bottom: 20px;

}

h6 {
    display: inline;
    color: aliceblue;
    margin: 10px 0px 10px;
    font-size: 20px;
    line-height: 6px;
    margin-top: 25px;
}

p {
    font-size: 18px;
    color: #cbcbcb;
}

.overview {
    margin-top: 40px;
}