section {
    margin: 30px 50px 30px;
}

select {
    font-size: 18px;
    margin-right: 30px;
    padding: 8px;
    color: aliceblue;
    background-color: transparent;
    border: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
}

select:hover {
    color:#00cba9;
    background: none;
    cursor: pointer;
}

button {
    background-color: #00cba9;
    color: #ffffff;
    font-size: 18px;
    border-radius: 5px;
    padding: 8px 10px 8px;
    border: none;
}

button:hover {
    background-color: white;
    color: #00cba9;
}