section {
    margin: 30px 50px 30px;
}

select {
    font-size: 23px;
    margin-right: 20px;
    padding: 10px;
    color: aliceblue;
    background-color: transparent;
    border: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    text-align: center;
}

select:hover {
    color:#00cba9;
    background: none;
    cursor: pointer;
}

button {
    background-color: #00cba9;
    color: #ffffff;
    font-size: 23px;
    border-radius: 5px;
    padding: 8px 16px 8px;
    border: none;
    margin: 10px 55px 10px 50px ;
}

button:hover {
    background-color: white;
    color: #00cba9;
    cursor: pointer;
}