<section>
  <img *ngIf="genreSelected" 
     >
     <label for="genre"></label>
     <select id="genre" name="genre" (change)="genreSelected($event)" [(ngModel)]="selectedGenre"  > 
    <option disabled selected value="default">Genre</option>
    <option *ngFor="let genre of genres" [value]="genre.id">{{ genre.name }}</option>
  </select>

  <label for="sortBy"></label>
  <select id="sortBy" name="sortBy" (change)="orderSelected($event)" [(ngModel)]="selectedFilter">
    <option disabled selected value="default">Sort by</option>
    <option value="title.asc">A - Z</option>
    <option value="title.desc">Z - A</option>
    <option value="primary_release_date.asc">Release year ascendant</option>
    <option value="primary_release_date.desc">Release year descendant</option>
  </select>
  <button (click)="resetFilters()">Clear</button>
</section>
